<% provide(:title, 'Replys')%>
<div class="row">
    <div class="medium-5 columns">
        <%= link_to @message.user.full_name, @message.user %><br>
        <%= @message.content %> <br>
        <%= image_tag @message.picture.url if @message.picture? %>
        <% if @message.created_at%>
            <span class="timestamp">
                Posted <%= time_ago_in_words(@message.created_at)%> ago.
            </span>
        <% end %>
        <p>
        <% if current_user?(current_lec)%>
            <%= form_for(@message.replies.build) do |f| %>
                <%= render 'shared/error_messages', object: f.object %>
                <%= f.hidden_field :message_id %>
                <%= f.hidden_field :lecturer_id, value: current_lec.id %>
                <%= f.text_area :content, placeholder: "Reply to this message..." %>
                <%= f.submit "Reply", class: "button" %>
                <%= f.file_field :picture %>

            <% end %>
        <% end %>
        </p>
    </div>
    <div class="medium-7 columns">
        <h1>Replys</h1>
        <% if @replies.any?%>
            <%@replies.each do |rep|%>
                <%= rep.content %>
                <% end %>
            <% end %>


    </div>
</div>
