<% provide(:title, "Signup")%>
<div class="medium-6 medium-centered">
    <h1>Register Here</h1>
    <div>
        <%= hidden_field_tag :role, @user.role %>
        <% if @user.role == 'user'%>
            <%# <%= render :partial => 'users/std', locals: {f: f} %1> %>
            <%= render 'users/std' %>
        <% elsif @user.role == 'lecturer'%>
            <%# <%= render :partial => 'users/lec', locals: {f: f} %1> %>
            <%= render 'users/lec' %>
        <% end %>
    </div>
</div>

