<% provide(:title, "Signup")%>
<div class="medium-6 medium-centered">
    <h1>Register Here</h1>
    <div>
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="medium-6 columns">
            <%= f.label :first_name %>
            <%= f.text_field :first_name , placeholder: "enter first name"%>
        </div>
        <div class="medium-6 columns">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, placeholder: "enter last name" %>
        </div>
        <div class="medium-12 columns">
            <%= f.label :email %>
            <%= f.email_field :email , placeholder: "enter email address"%>
        </div>
        <div class="medium-12 columns">
            <%= f.label :reg_no %>
            <%= f.text_field :reg_no, placeholder: "e.g SIT/1234/11" %>
        </div>
        <div class="medium-12 columns">
            <%= f.label :gender %>
            <%= f.select :gender, User::GENDER, prompt: "Select Gender" %>
        </div>
        <div class="medium-12 columns">
            <%= f.label :department %>
            <%= f.select :department, User::DEPARTMENT, prompt: "Select Department" %>
        </div>
        <div class="medium-12 columns">
            <%= f.label :password %>
            <%= f.password_field :password %>
        </div>
        <div class="medium-12 columns">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %>
        </div>
        <div class="medium-12 columns">
            <%= f.submit "Register", class: "button" %>
        </div>

    <% end %>
    </div>
</div>

