<% provide(:title, @user.first_name)%>
<div class="row">
    <div class="medium-12">
        <div id = "grav">
            <div class="medium-4 columns">
                <p> <%= gravatar_for @user %></p>
                <p>Name: <%= @user.first_name %></p>
                <p>Email: <%= @user.email %></p>
                <% if @user.supervised%>
                    <p>Project Supervisor: <%=  @user.supervised.first_name %></p>
                <% end %>
                <% if current_user?(@user) && !current_user.admin?%>
                    <p><%= link_to "Submit your project", new_project_path %></p>
                <% end %>
                <p> <%= link_to "Donate", new_payment_path, class: "button success" %></p>
            </div>
        </div>
        <div class="medium-8 columns">
            <table>
                <h4><strong>Projects</strong></h4>
                <thead>
                    <tr>
                        <th>Title</th>
                    </tr>
                </thead>
                <%@projects.each do |proj|%>
                    <tbody>
                        <tr>
                            <td> <%= link_to proj.title, proj %></td>
                        </tr>
                    </tbody>
                <% end %>
            </table>
            <% if @user.messages.any?%>
                <h3>Messages ( <%= @user.messages.count %> )</h3>
                <ol class="messages">
                    <%= render @messages %>
                </ol>
                <% end %>
        </div>
    </div>
</div>
