<% provide(:title, @user.first_name)%>
<div class="row">
        <p> <%= gravatar_for @user %></p>
        <p>Name: <%= @user.first_name %></p>
        <p>Course Taken: <%= @user.course_taken %></p>
        <p>Email: <%= @user.email %></p>
        <% if current_user?(@user)%>
        <p><%= link_to "Submit your project", new_project_path %></p>
        <% end %>
</div>
