<% provide(:title, 'Home') %>
<% if logged_in? && current_user?(current_user)%>
    <div class="row">
        <aside class="medium-4 columns">
            <section class="user_info">
                <%= render 'shared/user_info' %>
            </section>
            <section class="message_form">
                <%= render 'shared/message_form' %>
            </section>
        </aside>
        <div class="medium-8 columns">
            <h1>Messages</h1>
            <% if current_user.messages.any?%>
                <% @feed.each do |fd|%>
                    <li style="list-style: none">
                        <%# <%= link_to gravatar_for(fd.user, size: 50), fd.user %1> %>
                        <%= link_to fd.user.full_name, fd.user %><br>
                        <%= fd.content %> <br>
                        <%= cl_image_tag fd.picture.url if fd.picture? %>
                        <%# <%= video_tag fd.video_url.to_s :controls=>true if fd.video? %1> %>
                        <% if fd.created_at%>
                            <span class="timestamp">
                                Posted <%= time_ago_in_words(fd.created_at)%> ago.
                                <% if current_user?(fd.user)%>
                                    <%= link_to "delete", fd, method: :delete, data: {confirm: "You sure you want to delete this message??"} %>
                                <% end %>
                            </span>
                            <span class="comment">
                                <%= link_to fa_icon('comments'), message_path(id: fd.id) %>
                                <%= pluralize(fd.replies.count, "reply") %>
                            </span>
                        <% end %>
                    </li>
                <% end %>
            <% end %>
        </div>
    </div>
<% else %>
    <div id="sect">
        <div class="pagedata">
            <h1>Project Tracking and Monitoring Tool</h1>
            <% unless current_user || current_lec %>
                <%# <div class="button1"> %>
                    <%= link_to "Signup as Student", new_user_path, class: "button" %>
                    <%= link_to "Signup as Lecturer", new_lecturer_path, class: "button" %>
                    <%# </div> %>
            <% end %>
        </div>
    </div>
    <div id="footer">
        <p class="prg">&copy; <%= Date.today.year %>  Project Tracking and Monitoring Tool</p>
        <p class="prg">Developed by Kevin Santos</p>
        <p class="prg"> <%= link_to fa_icon('github'), "https://github.com/champagnepappi" %></p>

    </div>
<% end %>
