<% provide(:title, "Projects")%>
<div class="medium-12">
    <div class="medium-6 columns">
        <table>
            <h2>Projects Submitted</h2>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Project</th>
                    <th>Student</th>
                </tr>
            </thead>
            <% @submitted.each do |submitted| %>
                <tr>
                    <td> <%= submitted.id %></td>
                    <td> <%= link_to submitted.title , submitted %></td>
                    <td> <%= link_to submitted.user.first_name, submitted.user %></td>
                    <td> <%= link_to "approve", approve_path(id: submitted.id, status: "approved" ), class: "button small" %></td>
                    <td> <%= link_to "reject", reject_path(id: submitted.id, status: "rejected" ), class: "button small" %></td>
                </tr>
            <% end %>
        </table>
    </div>

    <div class="medium-6 columns">
        <table>
            <h2>Approved projects</h2>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Project</th>
                </tr>
            </thead>
                <% @approved.each do |approved|%>
                    <tr>
                        <td> <%= approved.id %></td>
                        <td> <%= link_to approved.title, approved %></td>
                        <td> <%= link_to "Undo approval", undoapproval_path(id: approved.id, status: "submitted"), class: "button small" %></td>
                    </tr>
                    <% end %>
        </table>
    </div>

</div>
