<% provide(:title, "New Project")%>
<div class="medium-6 medium-centered">
    <h1>Submit Project</h1>
    <%= form_for(@project) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :title %>
        <%= f.text_field :title , placeholder: "enter your project title"%>

        <%= f.label :description %>
        <%= f.text_area :description, rows: "10", placeholder: "describe what the project is about" %>

        <%= f.submit "Submit Project", class: "button" %>
    <% end %>

</div>
