<% provide(:title, "Supervisors")%>
<div class="medium-12">
    <h2>Choose supervisor to assign student</h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>action</th>
            </tr>
        </thead>
        <% @supervisors.each do |sup|%>
            <tbody>
                <tr>
                    <td> <%= sup.id %></td>
                    <td> <%= link_to sup.first_name, sup %></td>
                    <%# <td> <%= link_to "assign student", assign_path(user_id: @student.id, supervisor: sup.id, status: "assigned"), class: "button" %1></td> %>
                    <td>
                    <%= form_for @bid do |f| %>
                        <%= f.hidden_field :user_id %>
                        <%= f.hidden_field :lecturer_id %>
                        <%= f.submit "Assign supervisor", class: "button" %>
                    <% end %>
                    </td>
                </tr>
            </tbody>
        <% end %>
    </table>
</div>
